$whitespace: #fff;
$altwhitespace: #333645;
$alt2whitespace: #ddd;

$inputhighlight: #5bc0de;

$sm-1:767px;
$sm: 768px;
$md-1: 981px;
$md: 982px;
$lg-1: 1239px;
$lg: 1240px;
$xl-1: 1519px;
$xl: 1520px;

$web: #926fb1;
$it: #4183d7;
$telecoms: #d64541;
$software: #67809f;
$marketing: #2ecc71;
$security: #f62459;
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0072b1;


// -----------------------------------------------------------------
body, html {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.4px;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

* {box-sizing: border-box;}

a {
    text-decoration:none;
    color: $altwhitespace;
}
.link:hover,.label:hover {text-decoration: underline}

h1, h2, h3, h4, p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    margin: 0 0 25px 0;
}    
h1 {
    text-transform: uppercase;
    font-size: 2.25rem;
}

header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.page-span.alt {
    background-color: $altwhitespace;
    color: #fff;
    a:not(.btn) {color:#fff}
}
.page-span.alt2 {
    background-color: $alt2whitespace;
}
.page-center {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    
    @media (min-width: $sm) {
        width: calc(390px + 49vw);
    }
    
    @media (min-width: $md) {
        width: calc(230px + 70vw);
    }
    
    @media (min-width: $lg) {
        width: calc(985px + 11vw);
    }
}
.shadow {
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
}

.content-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    height: auto;
    font-size: 1.125rem;
    line-height: 46px;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0px;
    color:#fff;
    &:hover:not(.text):not(.no-hov):not(.social-media) {
        background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
    background-color: #999aa2;
    &.icon {
        font-size: 1.5rem; 
        background-color: transparent; 
        color: #333645;
        margin: 0;
    }
    &.alt {background-color: #4183d7;}
}
button, input, select, textarea {
    font-family: inherit;
}
input.btn.text {
    border: 1.2px solid #ccc;
    font-size: 0.9rem;
    text-transform: none;
    background-color: $whitespace;
    color: #555;
    cursor: text;
    &:focus {
        outline: none !important;
        border-color: $inputhighlight !important;
        box-shadow: 0 0 5px $inputhighlight !important;
    }
}
.btn.social-media {
    border-radius: 0%;
    background-color: darken($altwhitespace, 7%);
    text-align: center;
    font-size: 1.75rem;
    &.facebook:hover {background-color: $facebook;}
    &.twitter:hover {background-color: $twitter;}
    &.linkedin:hover {background-color: $linkedin;}
}

.color-hover:hover {
    color: #fff !important;
    i {color: #fff !important}
    background-color: #999aa2;
    &.web { background-color: $web; border-color: $web;}
    &.it { background-color: $it; border-color: $it;}
    &.telecoms { background-color: $telecoms; border-color: $telecoms;}
    &.software { background-color: $software; border-color: $software;}
    &.marketing { background-color: $marketing; border-color: $marketing;}
    &.security { background-color: $security; border-color: $security;}
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.content-section {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .content {
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .card-group {
        flex: 1 550px;
        .card.color-hover {flex-basis: 334px;}
        @media (min-width: $md) {
            flex-wrap: nowrap;
        }
    }
    .card {
        flex: 1;
        background-color: #fff;
        margin: 15px;
        border-radius: 3px;
        box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
        p{
            font-size: 0.8rem;
            line-height: 1.3rem;
        }
        .btn {
            line-height: 2.2rem;
            margin: auto 0 0 0 !important;
        }
    }
    .web .btn,.web i { background-color: $web;}
    .it .btn,.it i { background-color: $it;}
    .telecoms .btn,.telecoms i { background-color: $telecoms;}
    .software .btn,.software i { background-color: $software;}
    .marketing .btn,.marketing i { background-color: $marketing;}
    .security .btn,.security i { background-color: $security;}
    .web h4 {color: $web}
    .it h4 {color: $it}
    .telecoms h4 {color: $telecoms}
    .software h4 {color: $software}
    .marketing h4 {color: $marketing}
    .security h4 {color: $security}
}
//-----------------------------------------------------------------
#page {
    background-color: $whitespace;
    position: relative;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: $altwhitespace;
    left: 0;
    transition: left 0.3s ease-in-out;
    &.menu-open{
        left: -300px;
        cursor: pointer;

// ---------------------------
        .hamburger{
            :nth-child(1) {animation: first 0.3s ease-in-out both}
            :nth-child(2) {animation: second 0.3s ease-in-out both}
            :nth-child(3) {animation: third 0.3s ease-in-out both}
        }
    }
    &.menu-closed {
        .hamburger{
            :nth-child(1) {animation: reverse-first 0.3s ease-in-out both}
            :nth-child(2) {animation: reverse-second 0.3s ease-in-out both}
            :nth-child(3) {animation: reverse-third 0.3s ease-in-out both}
        }
    }
}
.hamburger{
    >*{transform-origin: 50% 31%;}
    :nth-child(1) {transform: translateY(-8px)}
    :nth-child(3) {transform: translateY(8px)}
}

@keyframes first {
    50% {transform: translate3d(0, 0, 0) rotate(0deg);}
    100% {transform: translate3d(0, 0, 0) rotate(135deg);}
};
@keyframes second {
    50% {transform: rotate(0deg);}
    100% {transform: rotate(135deg);}
};
@keyframes third {
    50% {transform: translate3d(0, 0, 0) rotate(0deg);}
    100% {transform: translate3d(0, 0, 0) rotate(45deg);}
};

@keyframes reverse-first {
    0% {transform: translate3d(0, 0, 0) rotate(135deg);}
    50% {transform: translate3d(0, 0, 0) rotate(0deg);}
    100% {transform: translate3d(0, -8px, 0) rotate(0deg);}
};
@keyframes reverse-second {
    0% {transform: rotate(135deg);}
    50% {transform: rotate(0deg);}
};
@keyframes reverse-third {
    0% {transform: translate3d(0, 0, 0) rotate(45deg);}
    50% {transform: translate3d(0, 0, 0) rotate(0deg);}
    100% {transform: translate3d(0, 8px, 0) rotate(0deg);}
};
// ---------------------------

#side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #333645;
    width: 300px;
    overflow-y: auto;
    color: $whitespace;
    a{color: $whitespace;}
}
#menu-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width:0%;
    height:0%;
    background-color: rgba(0, 0, 0, 0);
    transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &.menu-open {
        background-color: rgba(0, 0, 0, 0.438);
        left: -300px;
        cursor: pointer;
        width:100%;
        height:100%;
    }
}
//--------------------------------------------------------------------

#side-menu {
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    *{display: block;}
    nav {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.27);
        >ul>li {
            >* {
                margin: 20px;
            }
            >a {
                padding: 20px 0;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 3px;
                box-shadow: 0 0 2px black;
            }
            &:hover >a {background-color: rgba(255, 255, 255, 0.05);}
            >ul {
                border-radius: 3px;
                overflow: hidden;
                li:not(:first-child) {
                    border-top: 1px solid rgba(255, 255, 255, 0); 
                }
                li:not(:last-child) {
                    border-bottom: 1px solid rgba(0,0,0,.45);
                }

                a {
                    background-color: rgba(0,0,0,.25);
                    padding: 10px;
                }
            }
        }
        small {
            font-size: 0.62rem;
            padding-bottom: 2px;
        }
        i {
            padding-bottom: 10px;
            font-size: 1.25rem;
        }
        .web i {color: $web;}
        .it i {color: $it;}
        .telecoms i {color: $telecoms;}
        .software i {color: $software;}
        .marketing i {color: $marketing;}
        .security i {color: $security;}
    }
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    >ul>li{
        a{
            color: #fff;
            border-top: 1px solid rgba(255, 255, 255, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.45);
            list-style-type: none;
            display: block;
            padding: 18px;
        }
        &:hover >a{background-color: rgba(255, 255, 255, 0.05);}
        >ul a{
            background-color: rgba(0,0,0,.25);
            font-size: .875rem;
            &::before {
                content: "\BB";
                padding-right: 15px;
            }
        }
        
    }
}

// ----------------------------------------------------------------

#top {
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 700px;
    flex-direction: column;
    justify-content: stretch;
}

header {   
    width: 100%;
    z-index: 15;
    background-color: $whitespace;
}
header.sticky {
    position: fixed;
    top: 0;
    animation: slideDown 0.3s ease-in-out both;
    nav {overflow:hidden;}
    .nav-bar>li:hover {padding-bottom: 43px}
}
header.slide-up {
    animation: slideUp 0.3s ease-in-out both;
    transform: translateY(-100%);
}
@keyframes slideDown {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}
@keyframes slideUp {
    0%{transform: translateY(0);}
    100%{transform: translateY(-100%);}
}

.heading {
    background-color: $whitespace;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    &>* {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }
    .site-logo {
        margin-left: 0%;
        margin-right: auto;
        line-height: 0;
        max-width: 370px;
        height: inherit;
        img {
            min-width: 0%;
            max-width: 100%;
        }
    }
    .search {
        display: flex;
        flex-shrink: 2;
        input {
            flex-shrink: 2;
            width: 100%;
            max-width: 200px;
            border-right: 0;
            border-radius: 0;
        }
        button {
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0 3px 3px 0;
            @media (min-width: $md) and (max-width: $lg-1) {
                border-radius: 3px;
            }
        }
    }
    @media (max-width: $sm-1) {
        flex-wrap: wrap;
        .search{
            order: 1;
            flex-basis: 100%;
            padding-top: 12px;
            margin: 0;
            input {
                max-width:100%;
                width:100%;
                background-color: rgba(0,0,0,.1);
                outline: 1px solid hsla(0,0%,100%,.2);
                border: 1px solid rgba(0,0,0,.1);
                font-size: 14px;
                border-radius: 2px;
                padding-right: 40px;
                height: 47px;
            }
            button {
                background: none;
                border: none;
                color: #333645;
                position: absolute;
                right: 5px;
                line-height: 37px;
                font-size: 20px;
                outline: none;
            }
        }
        .site-logo {
            padding:0;
            flex-basis: calc(100% - 157px)
        }
    }
    .menu {
        font-size: 0.7rem;
        line-height: 0;
        background-color: #333645;
        height: 57px;
        .hamburger {
            display: block;
        }
    }
}
// ---------------------------------------------------------
.nav-bar{
    background-color: $altwhitespace;
    font-size: 1.15rem;
    display: flex;
    height: 100%;
    justify-content: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    &::before {
        content: "";
        border-right: 1px solid rgba(255, 255, 255, 0.133)
    }
    &::after {
        content: "";
        border-left: 1px solid rgba(0, 0, 0, 0.267)
    }
    >li {
        display:block;
        flex: 1;
        border-right: 1px solid rgba(255, 255, 255, 0.133);
        border-left: 1px solid rgba(0, 0, 0, 0.267);
    }  
    a {
        color: #fff;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        padding: 19px 0;
        text-align: center;
        line-height: 1;
    }
    small {
        display: block;
        font-size: 0.62rem;
        padding-bottom: 2px;
    }
    i {
        padding-bottom: 10px;
        font-size: 1.25rem;
    }
    .web {
        i {color: $web;}
        .nav-items, .nav-items::before {background-color: darken($web, 10%);}
    }
    .it {
        i {color: $it;}
        .nav-items, .nav-items::before {background-color: darken($it, 10%);}
    }
    .telecoms {
        i {color: $telecoms;}
        .nav-items, .nav-items::before {background-color: darken($telecoms, 10%);}
    }
    .software {
        i {color: $software;}
        .nav-items, .nav-items::before {background-color: darken($software, 10%);}
    }
    .marketing {
        i {color: $marketing;}
        .nav-items, .nav-items::before {background-color: darken($marketing, 10%);}
    }
    .security {
        i {color: $security;}
        .nav-items, .nav-items::before {background-color: darken($security, 10%);}
    }

    >li:hover {
        color: #fff;
        background-color: #999aa2;
    }

    >li>.nav-items{
        display:none;
        position: absolute;
        left: -1px;
        right: -1px;
        justify-content: space-between;
        list-style: none;
        z-index: 2;
        padding: 0 17px;
        li {
            display: flex;
            flex: none;
            font-size: 1rem;
            &:nth-child(n+2)::before {
                content: "-";
                line-height: 2.8rem;
                padding: 0 20px;
                margin: auto;
            }
            @media (min-width: $lg) {
                font-size: 1.2rem;
            }
        }
        a {
            font-size: 80%;
            padding: 0px;
            line-height: 2.8rem;
        }
        &::before {
            background-color: $whitespace;
            content: "";
            width: 100vw;
            height: 100%;
            z-index: -1;
            position: absolute;
            left: 50%;
            margin-left: -50vw;
            top: 0%;
        }
    }

    >li:hover>.nav-items{
        display: flex;
    }
    

}
// ------------------------------------------------------------------------
.slick, .slick-list, .slick-track, .slick-dotted.slick-slider {
    margin-bottom: 0;
    overflow: hidden;
    height: 100%;
}
.slick-dots {
    bottom: 45px;
    li button:before {
        font-size: 12px;
        color: white;
        opacity: 0.45;
    };
    li.slick-active {
        button:before{
            color: white;
            opacity: 1;
        }
        button:after {
            content: "";
            position: absolute;
            top: -2.5px;
            left: -1px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid #fff;
        }
    }
}
#top .banner {
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #fff;
    line-height: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .content-container {
        width: 100%;
        height: 100%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(0, 0, 0, 0.467);
        @media (min-width: $md) {
            text-align: left;
            align-items: flex-start;
            background-color: rgba(0, 0, 0, 0);
            background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.467),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            width: auto;
       }
    }
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin: 0 0 35px 0;
    }
    &.web .btn{ background-color: $web;}
    &.it .btn{ background-color: $it;}
    &.telecoms .btn{ background-color: $telecoms;}
    &.software .btn{ background-color: $software;}
    &.marketing .btn{ background-color: $marketing;}
    &.security .btn{ background-color: $security;}
}
// ------------------------------------------------------------------------
.card-container {
    .card.color-hover {
        flex: 2 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media (min-width: $md) {
            flex: 2 23%;
        }
        >* {
            margin: 0 0 12px 0;
        }
        i {
            color: #fff;
            font-size: 1.2rem;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding-top: 21px;
        }
        h3 {width:100%}
        h3::after {
            content:"";
            background-color: #333645;
            width: 30px;
            height: 3px;
            margin: auto;
            display: block;
            margin-top: 12px;
        }
        p {width: 100%}
        &:hover{
            .btn, i, h3::after  {
                background-color: #fff !important;
            }
            &.web .btn, &.web i {color: $web !important}
            &.it .btn, &.it i {color: $it !important}
            &.telecoms .btn, &.telecoms i {color: $telecoms !important}
            &.software .btn, &.software i {color: $software !important}
            &.marketing .btn, &.marketing i {color: $marketing !important}
            &.security .btn, &.security i {color: $security !important}
        }
    }
}
// -------------------------------------------------------------------------
.page-span.brand {
    @media (min-width: $md) {
        background-image: url(../images/logos/branded.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

.netmatters-info {
        line-height: 1.9rem;
    h1 {padding: 5px 0}

    @media (min-width: $lg) {
        padding-right: 31%;
    }

    .btn {
        background-color: #fff;
        color:$altwhitespace;
        line-height: 2.3rem;
    }

}
// ----------------------------------------------------------------------
.news-head {
    display: flex;
    h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.5rem;
        margin: 0;
        padding: 30px 0;
        border-bottom: 5px solid $altwhitespace;
        display: block;
    }
}
.card-container .article.card {
    flex-basis: 344px;
    position: relative;
    text-align: left;
    color: #666;
    display: flex;
    flex-direction: column;
    .btn.label {
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1rem;
        border-radius: 0;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 0;
    }
    a.img {
        max-height: 350px;
        overflow: hidden;
        display: block;
    }
    >a>img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 3px 3px 0 0;
        transition: .25s cubic-bezier(.215,.61,.355,1);
        &:hover {
            transform: scale(1.1);
            opacity: 0.8;
        }
    }
    .content {
        flex-grow: 1;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        flex-direction: column;
    }
    h4 {
        font-weight: bold;
    }
    .btn {
        align-self: flex-start;
    }
    .article-writer {
        display: flex;
        align-items: center;
        padding-top: 30px;
        border-top: 1px solid #bbb;
        margin-top: 30px;
        img {
            width: 47px;
            height: 47px;
            border-radius: 50%;
        }
        div {
            span {color: $altwhitespace}
            padding-left: 30px;
            font-size: 0.9rem;
        }
    }
}
// ---------------------------------------------------------------------------
.logos-list {
    display: flex;
    justify-content: space-around;
    .logo {
        position: relative;
    }
    .label {
        display: none;
        position: absolute;
        bottom: 100%;
        right: -200px;
        left: -200px;
        margin-bottom: 5px;
    }
    .description {
        margin: 0 auto 45px;
        max-width: 260px;
        background-color: $altwhitespace;
        color: #fff;
        font-size: 0.81rem;
        text-align: center;
        line-height: 1.375;
        padding: 20px;
        h3{
            font-size: 1.12rem;
            margin-bottom: 15px;
        }
        h3::after {
            content: "";
            display: block;
            margin: 10px auto 0;
            background-color: #fff;
            height: 3px;
            width: 30px;
        }
        p {
            margin-bottom: 0;
        }
    }
    .arrow {
        position: absolute;
        border-color: #333645 transparent transparent;
        border-style: solid;
        border-width: 35px 36px 0;
        margin-right: -36px;
        top: calc(99% - 45px);
        right: 50%;
    }
    img {
        width: 100%;
        padding: 0 20px;
        display: none;
    }
    img.grayscale {
        display: block;
    }
    .logo:hover {
        img {display: block;}
        img.grayscale {display: none;}
        .label {display: block}
    }
}
// ---------------------------------------------------------------------------
form.content-section {
    padding-right: 45px;
    padding-left: 45px;
    >* {
        display: block;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .label {
        margin-bottom: 5px;
    }
    .input-group {
        display: flex; 
        flex-wrap: wrap;
        margin: 0 -15px;
        >* {
            flex:1 370px;
            margin: 0 15px;
        }
    }
    .required::after {content:" *"; color:rgb(228, 30, 30)}
    input.btn.text {
        height: 47px;
        width: 100%;
        border: 1px solid #c7c7c7;
        margin-bottom: 15px;
    }
    .checkbox {
        display: flex;
        margin-bottom: 30px;
        line-height: 32px;
        cursor: pointer;
        input {
            height: 32px;
            width: 32px;
            opacity: 0;
            position: absolute;
            margin: 0;
            cursor: pointer;
        }
        .fake-checkbox {
            content: "";
            height:32px;
            width: 32px;
            margin: 0 20px 0 0;
            border: 3px solid $altwhitespace;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            color: transparent;
        }
        input:checked + .fake-checkbox{
            background-color: $altwhitespace;
            color: #fff
        }
        a{
            text-decoration: underline;
            &:hover {filter: brightness(0.4)}
        }
    }
    .btn.alt {
        background-color: $altwhitespace;
        line-height: 2.2rem;
        font-size: 1rem;
    }
}
// ------------------------------------------------------------------------------
footer {
    .card-container.content-section{
        margin-top: 0;
        margin-bottom: 0;
        div {
            flex: 1 45%;
            font-size: 0.8rem;
            margin: 15px;
            h4 {
                font-size: 1rem;
                text-transform: uppercase;
            }
            @media (min-width: $lg) {flex-basis: 20%;}
        }
        .social-media-buttons {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            >a {
                flex: 0 39%;
                margin: 15px;
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    flex-basis: 23%;
               }
            }
        }
    }
}


// ---------media queries-----------------------------------------------------

@media (max-width: $sm-1) {
    .xs {
        display: none !important;
    }
}

@media (min-width: $sm) and (max-width: $md-1) {
    .sm {
        display: none !important;
    }
}

@media (min-width: $md) and (max-width: $lg-1) {
    .md {
        display: none !important;
    }
}

@media (min-width: $lg) {
    .lg {
        display: none !important;
    }
}

// -----------------------------------------------------------------

#cookie-popup {
    position: absolute;
    z-index: 30;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        max-width: 600px;
        position: relative;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        box-shadow: 0 3px 14px rgba(0,0,0,0.5);
        background-clip: padding-box;
    }
    h3{
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1.625rem;
        line-height: 1.42857143;
        margin: 0;
        color: $altwhitespace;
    }
    .text{
        margin: 19px;
        p{
            color: #666;
        }
    }
    .btns{
        border-top: 1px solid #e5e5e5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: space-evenly;
        a{
            margin: 20px;
            flex-grow: 1;
            line-height: 36px;
            text-align: center;
            &.accept{background-color: $web;}
        }
    }
}

